.navbar {
background-color: bisque;
position: fixed;
top: 0;
width: 100%;

}

.navbar li {
    display: inline-block;
    padding: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: brown;
}

a.brown {
    color: brown;
}


.banner {
    background-color: bisque;
    color: brown;
    text-align: center;
    margin: 50px;
    padding: 25px 0px;
}

#small-cake {
 height: 500px;
 width: 425px;
 filter: drop-shadow(1px 1px 1px black);   
}



body {
    background-color: bisque;
}

h3 {
    color: brown;
    text-align: center;
}

h2 {
    color: brown;
    text-align: center;
}

#greets ul {
    list-style-type: none;
    color: brown;
    text-align: center;
;

}
